.notes-container{
    background-color: aliceblue;
    border-radius: 7%;
    padding: 2%;                            
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    display: inline-block;
    max-width: 16%;
}

.title-text{
    font-weight: bold;
    margin-bottom: 4%;
    font-size: 90%;
}

.buttons-container{
  display: flex;
  gap: 8%;
}

.date-text{
    font-weight: 600;
    opacity: 75%;
    font-size: 65%;
}

.text-notes{
    font-size: 75%;
    align-items: center;
    margin-bottom: 22%;
    font-weight: bold;
}

.bottom-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;              
  }

  .edit-icon, .delete-icon{
    width: 28px;
    height: auto;
  }

  .edit-button, .del-button{
    background-color: black;
    border: none;
    border-radius: 20px;
    width: 28px;
  }

.del-button:hover{
    background-color: rgb(87, 87, 87);
}

.edit-button:hover{
  background-color: rgb(87, 87, 87);
}