.search-container {
    position: relative;                 /* Para que el ícono y el texto estén dentro del contenedor */
    display: flex;                      /* Flexbox para organizar elementos */
    align-items: center;                /* Centra verticalmente los elementos */
    width: 100%;                        /* Ancho total de la barra de búsqueda */
    max-width: 200px;                   /* Ancho máximo de la barra */
    border-radius: 25px;                /* Bordes redondeados */
    padding: 10px;                      /* Espaciado interno */
    background-color: aliceblue;
  }
  
  .search-icon-text {
    display: flex;                      /* Flexbox para ícono y texto */
    align-items: center;                /* Centra el ícono y texto verticalmente */
    position: absolute;                 /* Para superponer sobre el input */
    left: 15px;                         /* Espacio desde la izquierda */
    pointer-events: none;               /* Permite que el input reciba el clic */
    opacity: 1;                         /* Opacidad inicial */
    transition: opacity 0.5s ease;      /* Transición suave para desvanecerse */
  }
  
  .Searchicon-class {
    width: 15px;                        /* Tamaño del ícono */
    margin-right: 10px;                 /* Espacio entre ícono y texto */
    opacity: 50%;
  }
  
  .search-input {
    width: 100%;                        /* Input ocupa todo el espacio disponible */
    border: none;                       /* Sin borde para el input */
    outline: none;                      /* Sin borde de enfoque */
    padding-left: 50px;                 /* Desplaza el texto para no superponerse con la lupa */
    font-size: 16px;                    /* Tamaño del texto en el input */
    background-color: aliceblue;
  }
  
  .search-input::placeholder {
    color: transparent;                 /* Hace transparente el placeholder por defecto */
  }
  
  .search-text{
    font-size: 12px;
    opacity: 50%;
    font-family: 'Carmen Sans';
    font-weight: bold;
}