.main-container{
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px;                           
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    width: 90%;
    height: 90%;
    min-height: 500px;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side-container{
    height: 90%;
    width: 7%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 480px;
    padding: 5px;
    flex-direction: column;
}

.separator{
  height: 100%;
  min-height: 500px;  
  width: 1.5px;            
  background-color: #000000;
  opacity: 50%;
  margin-bottom: -10px;
  margin-top: -10px;
}

.add-icon{
    height: 35px;
    width: 35px;
}

.add-icon-container{
    display: flex;
    align-items: center;
}

.logo-container{
    display: flex;
    min-height: 10%;
    height: 10%;
    align-items: flex-start;
    justify-items: center;
    margin-bottom: 75%;
}

.right-side-container{
    margin-left: 20px;
    flex-grow: 1;
    height: 90%;
    min-height: 480px;
    padding: 5px;
}

.h1-notes{
    margin-bottom: 3%;
}

.notes-square-container{
    display: flex;
    gap: 2.2%;
}

.user-icon{
    width: 3%;
}

.top-bar-container{
    display: flex;
    align-items: center;
    gap: 4%;
}

.user-name{
    font-family: 'Carmen Sans';
    font-weight: bold;
    font-size: 80%;
    margin-left: -4%;
}