* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 18;
    background-color:rgb(180, 180, 180);
    font-family: 'Carmen Sans';
}

.App{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
